body {
  margin: 0;
  font: 16px/1 sans-serif;
}
menu ul{
  margin: 0;
  padding: 0;
}
menu li {
  display: inline-block;
  padding: 5px;
}
a.active {
  color: #444;
  font-weight: bold;
  text-decoration: none;
}
header {
  padding: 10px;
  background-color: #333;
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
}
menu {
  background-color: #ccc;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}
