<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Isomorphic React</title>
  </head>
  <body>
    <div id="root"><%- reactComponent %></div>
    <script src="bundle.js"></script>
  </body>
</html>
